<div class="row justify-content-center m-0 mt-1">
  <div class="col col-12 col-sm-10 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
    <div class="card card-container p-3">

      <form class="needs-validation"
            (ngSubmit)="onSubmit()"
            [formGroup]="profileForm.formGroup"
            novalidate >

        <app-input type="text" label="Username" placeholder="User name" [value]="userName" [disabled]="true"></app-input>

        <app-input type="text" label="Fullname" placeholder="Name" formControlName="fullName"></app-input>

        <div class="form-group">
          <app-button type='submit'
                      label="Save">
          </app-button>
        </div>
      </form>

    </div>
  </div>
</div>
