<div class="row justify-content-center m-0 mt-1">
  <div class="col col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 col-xxl-2">
    <div class="card card-container p-3">

      <form *ngIf="!isLoggedIn"
            class="needs-validation"
            (ngSubmit)="onSubmit()"
            [formGroup]="registerForm.formGroup"
            novalidate >

        <app-input type="text" label="Username" placeholder="User name" formControlName="userName"></app-input>

        <app-input type="text" label="Fullname" placeholder="Full name" formControlName="fullName"></app-input>

        <app-input type="password" label="Password" placeholder="Password" formControlName="password"></app-input>

        <div class="form-group">
          <app-button type='submit'
                      label="Register"
                      iconName="person-plus">
          </app-button>
        </div>
      </form>

      <div class="alert alert-success" *ngIf="isLoggedIn">
        Logged in as {{ userName }}.
      </div>

    </div>
  </div>
</div>
