<div class="modal-header">
  <h3>{{ isNew ? 'Create' : 'Edit'}} payment</h3>
</div>

<div class="modal-body">

  <form class="needs-validation"
        (ngSubmit)="onSubmit()"
        [formGroup]="paymentForm.formGroup"
        novalidate >

    <tmc-input type="text" label="Description" placeholder="Description" formControlName="description"></tmc-input>

    <tmc-input type="text" label="Vendor" placeholder="Vendor" formControlName="vendor"></tmc-input>

    <tmc-number-input label="Amount" placeholder="Amount" formControlName="amount"></tmc-number-input>

    <tmc-dropdown label="Type" [items]="incomeTypes" placeholder="Select type" formControlName="income"></tmc-dropdown>

    <tmc-dropdown label="Payment Option" [items]="paymentOptions" placeholder="Select payment Option" formControlName="paymentOption"></tmc-dropdown>

    <app-date-time-picker name="activeEndDate" formControlName="date"></app-date-time-picker>
  </form>
</div>

<div class="modal-footer">
  <tmc-button type='submit'
              label="Save"
              (clicked)="onSubmit()">
  </tmc-button>
</div>
