<div class="modal-header">
  <h3>{{ isNew ? 'Create' : 'Edit'}} user</h3>
</div>

<div class="modal-body">

  <form class="needs-validation"
        (ngSubmit)="onSubmit()"
        [formGroup]="userForm.formGroup"
        novalidate >

    <app-input type="text" label="Username" placeholder="User name" formControlName="userName"></app-input>

    <app-input type="text" label="Fullname" placeholder="Full name" formControlName="fullName"></app-input>

    <app-input type="password" label="Password" placeholder="Password" formControlName="newPassword"></app-input>

    <app-multiselect-dropdown label="Roles" [items]="roles" placeholder="Select roles" formControlName="roles"></app-multiselect-dropdown>
  </form>

</div>

<div class="modal-footer">
  <app-button type='submit'
              label="Save"
              (clicked)="onSubmit()">
  </app-button>
</div>
