<div class="row d-grid justify-content-end m-0 mt-1">
  <app-button design="success"
              label="Add new user"
              iconName="people"
              (clicked)="openCreate()">
  </app-button>
</div>

<div class="row m-0 mt-1">
  <app-simple-table [columns]="columns" [data]="users"></app-simple-table>
</div>

<ng-template #tableActionCellTemplate let-column="column" let-dataItem="dataItem">
  <div class="table-actions-container btn-group gap-2">
    <app-button design="warning"
                label="Edit"
                iconName="pencil-square"
                [hideLabelOnSmall]="true"
                (clicked)="openEdit(dataItem.id)">
    </app-button>

    <app-button design="danger"
                label="deactive"
                iconName="person-dash-fill"
                [hideLabelOnSmall]="true"
                *ngIf="dataItem.active"
                (clicked)="setActive(dataItem.id, false)">
    </app-button>

    <app-button design="primary"
                label="Active"
                iconName="person-check-fill"
                [hideLabelOnSmall]="true"
                *ngIf="!dataItem.active"
                (clicked)="setActive(dataItem.id, true)">
    </app-button>
  </div>
</ng-template>
