<nav class="navbar bg-light navbar-expand-md">
  <div class="container-fluid">

    <a class="navbar-brand" routerLink="../statistics">Statistics</a>

    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarStatisticsContent"
            aria-controls="navbarStatisticsContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarStatisticsContent">
      <ul class="navbar-nav me-auto">

        <li class="nav-item">
          <a class="nav-link active"
             aria-current="page"
             routerLink="change-by-date">
            <i class="bi bi-graph-up"></i>
            Change by date
          </a>
        </li>

      </ul>
    </div>

  </div>
</nav>
