<div class="row d-grid justify-content-end m-0 mt-1">
  <app-button design="success"
              label="Add new payment"
              iconName="file-earmark-plus"
              (clicked)="openCreate()">
  </app-button>
</div>

<app-payments-board-filter (filterSubmit)="filter($event)"></app-payments-board-filter>

<div class="row m-0 mt-1">
  <app-simple-table [columns]="columns" [data]="payments"></app-simple-table>
</div>

<ng-template #tableIncomeCellTemplate let-column="column" let-dataItem="dataItem">
  <div class="table-actions-container btn-group gap-2">
    <i class="bi"
    [class]="isIncome(dataItem.income)"></i>
  </div>
</ng-template>

<ng-template #tableActionCellTemplate let-column="column" let-dataItem="dataItem">
  <div class="table-actions-container btn-group gap-2">
    <app-button design="warning"
                label="Edit"
                iconName="pencil-square"
                [hideLabelOnSmall]="true"
                (clicked)="openEdit(dataItem.id)">
    </app-button>

    <app-button design="secondary"
                label="deactive"
                iconName="slash-circle"
                [hideLabelOnSmall]="true"
                *ngIf="dataItem.active"
                (clicked)="setActive(dataItem.id, false)">
    </app-button>

    <app-button design="primary"
                label="Active"
                iconName="check-circle"
                [hideLabelOnSmall]="true"
                *ngIf="!dataItem.active"
                (clicked)="setActive(dataItem.id, true)">
    </app-button>

    <app-button design="danger"
                label="Delete"
                iconName="trash"
                [hideLabelOnSmall]="true"
                (clicked)="delete(dataItem.id)">
    </app-button>
  </div>
</ng-template>
