<div class="row justify-content-center m-0 mt-1">
  <div class="col col-12 col-sm-10 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
    <div class="card card-container p-3">

      <div class="mb-3">
        <label for="formFile" class="form-label">File to upload</label>
        <input class="form-control"
               type="file"
               id="formFile"
               accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
               [disabled]="isDisabled">
      </div>

      <app-button type='submit'
            [label]="buttonLabel"
            [isDisabled]="isDisabled"
            iconName="upload"
            (clicked)="upload()">
      </app-button>

    </div>
  </div>
</div>
