<div class="">
  <fieldset class="border p-2 mx-3 my-1">
    <legend (click)="collapse()">Filters: <i class="bi {{isCollapsed ? 'bi-caret-down-square' : 'bi-caret-up-square'}} fs-6"></i></legend>
    <div [hidden]="isCollapsed">
      <form class="needs-validation"
            (ngSubmit)="onSubmit()"
            [formGroup]="paymentsBoardFilterForm.formGroup"
            novalidate >

        <div class="row">
          <div class="col-12 col-sm-6 col-lg-3 col-xl-2">
            <app-input type="text" label="Description" placeholder="Description" formControlName="description"></app-input>
          </div>

          <div class="col-12 col-sm-6 col-lg-3 col-xl-2">
            <app-input type="text" label="Vendor" placeholder="Vendor" formControlName="vendor"></app-input>
          </div>

          <div class="col-12 col-sm-6 col-lg-3 col-xl-2">
            <app-date-time-picker  label="Satrt date time" placeholder="Satrt date time" formControlName="startDate"></app-date-time-picker>
          </div>

          <div class="col-12 col-sm-6 col-lg-3 col-xl-2">
            <app-date-time-picker label="End date time" placeholder="End date time" formControlName="endDate"></app-date-time-picker>
          </div>

          <div class="col-12 col-sm-6 col-lg-6 col-xl-2">
            <app-button design="info"
                        type='submit'
                        label="Search"
                        iconName="search"
                        class="py-2 d-grid gap-2"
                        (clicked)="onSubmit()">
            </app-button>
          </div>

          <div class="col-12 col-sm-6 col-lg-6 col-xl-2">
            <app-button design="outline-secondary"
                        type='reset'
                        label="Reset"
                        iconName="x-octagon"
                        class="py-2 d-grid gap-2"
                        (clicked)="onReset()">
            </app-button>
          </div>
        </div>
      </form>
    </div>
  </fieldset>
</div>
