<div class="mb-3">
    <div class="form-floating" (click)="toggleCheckboxArea()">
        <select [id]="id"
                class="form-select {{ displayError && getErrorMessage() ? 'is-invalid' : '' }}">
            <option>{{getSelectedItemsDisplayValue}}</option>
        </select>
        <label [for]="id"
               [hidden]="!label"
               class="form-label">
            {{ label }}
        </label>
        <div class="invalid-feedback"
             [class.d-none]="">
            {{ getErrorMessage() }}
        </div>
        <div class="overSelect"></div>
    </div>
    <div class="list-group" [style.display]="isMenuHidden">
        <ng-template ngFor let-item [ngForOf]="items" let-i="index">
            <label class="list-group-item">
                <input type="checkbox"
                       class="form-check-input me-1"
                       id="{{item.value}}"
                       (click)="checkboxStatusChange(item.value)"
                       [checked]="isItemChecked(item.value)"
                       value="{{item.value}}" />
                {{item.displayValue}}
            </label>
        </ng-template>
    </div>
</div>
